
.UpperNav {
    padding: 0 10px;
    width: max-content;
    margin-bottom: 8px;
    /* margin-left: auto; */
}
.UpperNavUl {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
}
.UpperNavLi {
    position: relative;
}
.UpperNavLink {
  position: relative;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: block;
  transition: color 0.3s;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

@media (max-width:1280px) {
  .UpperNavLink {
    font-size: 10px;
  }
}
@media (max-width:1100px) {
  .UpperNavLink {
    font-size: 9px;
  }
}
@media (max-width:1024px) {
  .UpperNavLink {
    font-size: 16px;
  }
}

.UpperNav .UpperNavLi:hover .UpperNavLink {
  color: #fc1660;
}

.UpperNav .UpperNavLink:before {
  content: "";
  height: 3px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fc1660;
  transition: all 0.5s;
}

.UpperNav li:hover .UpperNavLink:before {
  width: 100%;
}

.MainNavbar {
    padding: 0 10px;
    width: max-content;
    /* margin-left: auto; */
    display: flex;
    gap: 20px;


}
.MainNavbar .MainNavbarUl {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.5rem;
}
.MainNavbar li {
    position: relative;
}
.MainNavbar li a {
  position: relative;
  display:flex;
  font-weight: 500;
  text-transform: uppercase;
}
.SubNav {
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    font-weight: 400;
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    box-shadow: 0 3px 8px rgba(0,0,0,.24);
    transition: all .3s ease;
    font-size: medium;
    width: 100% !important;
}
.UpperNav li:hover .SubNav, .MainNavbar li:hover .SubNav {
    visibility: visible;
    opacity: 1;
    width: 100%;
}

.SubNav .SubNavLink {
  display: block;
  width: 100%;
  color: #000;
  padding: 10px 15px;
  border-bottom: 1px solid #e5e7eb;
    transition: all .3s ease;
}

.SubNav .SubNavLink:hover {
    color:var(--main-color);
    background:var(--light-bg-color);
}
.btn {
    padding: 2px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn:hover {
    background: #000;
    color: #fff;
}

@media (max-width:1024px){
  .MainNavbar .MainNavbarUl {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
}