@import "tailwindcss"; 
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #fc1660;
  --template-bg: #fff;
  --text-color: #170042;
  --heading-color: #06163a; 
  --transition: all 0.3s ease-in-out;  
  --shadow-nav: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}
