@import "tailwindcss"; 
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #fc1660;
  --secondary-color: #ff6b6b;
  --template-bg: #fff;
  --title-color: #1e3a52;
  --text-color: #170042;  
  --text-gradient: linear-gradient(to right, var(--primary-color), var(--color-secondary));
  --transition: all 0.3s ease-in-out;  
  --shadow-nav: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

body {
  font-family: var(--font-poppins), system-ui, -apple-system, BlinkMacSystemFont, sans-serif;   
  color: var(--text-color);
  background-color: var(--template-bg);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

p {
  text-align: justify;
}

