.navigation {
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    position: fixed;
    left: 0;
    z-index: 500;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
  }
  /* .navigation {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),  
    rgba(0, 0, 0, 0)    
  );
}

.navigation.navigationfix {
  box-shadow: 0 0 5px #bcbcbc;
  background: #fff; 
} */

.navigation {
 /* background-color: rgba(0, 0, 0, 0.3); */
background: linear-gradient(#00000047, #0000);
 box-shadow: 0 0 1px #ffffff6b;
 /* backdrop-filter: blur(5px);   */
 /* background-color: transparent; */
}
  .navigation.navigationfix {
    box-shadow: 0 0 5px #bcbcbc;
    background: #fff;
   
  }
  
  .Navbar {
    color: #fff;
    
  }
  
  @media (max-width: 1000px) {
    .Navbar {
      display: none;
    }
  }
  
  .navigation.navigationfix .Navbar {
    color: var(--text-color);
  }
  
  .navigation .Navbar li:hover > a {
    color: var(--primary-color);
  }
  
  .open-offcanvas-nav {
    padding: 0;
    display: inline-block;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
  }
  
  .openOffcanvasNav {
    padding: 7px 5px;
    width: 35px;
    height: 35px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 1000px) {
    .openOffcanvasNav {
      display: flex;
    }
  }
  
  .iconBar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .navigation.navigationfix .iconBar {
    background-color: #000;
  }
  
  .topBar {
    transform-origin: top left;
  }
  
  .middleBar {
    opacity: 1;
  }
  
  .bottomBar {
    transform-origin: bottom left;
  }
  
  .OffcanvasNav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: white;
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
  
  .open {
    transform: translateX(0);
  }
  
  .OffcanvasNavHeader {
    border-bottom: solid 1px #e5e7eb;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .CloseMobileNav {
    padding: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 24px;
    border: solid 1px #e5e7eb;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    color: #000;
  }
  