.footerImage {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url('/images/footer-top-image.webp'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  @media (max-width:480px) {
    .footerImage{
      height: 300px;
    }    
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 5, 6, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
  }
  
 
  