/* container.module.css */
.container {
    margin: auto;
    max-width: 1380px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .container-full {
    margin: auto;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  @media (max-width: 1440px) {
    .container {
      max-width: 1300px;
    }
  }
  @media (max-width: 1300px) {
    .container {
      max-width: 1250px;
    }
  }
  @media (max-width: 1270px) {
    .container {
      max-width: 1070px;
    }
  }
  @media (max-width: 1199px) {
    .container {
      max-width: 950px;
    }
  }
  @media (max-width: 991px) {
    .container {
      max-width: 700px;
    }
  }
  