.footerTitle {
    color: var(--main-color);
  }  
  .footerLinks {
    color: white;
    margin-top: 16px;
    font-size: 14px;
  }  
  .footerLinks li a {
    position: relative;
    display: inline-block;
    color: white;
    transition: color 0.3s ease-in-out;
    text-decoration: none; 
  }  
  .footerLinks li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease-in-out;
  }  
  .footerLinks li a:hover {
    color: var(--main-color);
  }  
  .footerLinks li a:hover::after {
    width: 100%;
  }
  