.footer {
  background-color: #0d2444;
  color: white;
  font-family: "Poppins", sans-serif;
}

.headerRow {
  padding: 16px 0;
  border-bottom: 1px solid #374151;
}

.logo img {
  width: 250px;
  height: auto;
}

.headerButtons {
  display: flex;
  gap: 16px;
}

.contactBtn {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}
.contactBtn:hover {
  background: black;
  color: #fff;
}

.topSection {
  border-bottom: 1px solid #374151;
  padding: 2rem 0;
}

.heading {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}

.text {
  color: #9ca3af;
  font-size: 14px;
  margin-bottom: 16px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  margin-bottom: 0.5rem;
  font-size: 14px;
  color: #d1d5db;
}

.list li:hover {
  color: white;
}

.contactInfo {
  padding: 10px 0;
}
.contactCard1 {
  display: flex;
  align-items: center;
}
.internationalLogo {
  width: 246px;
  height: auto;
}
.contactCard {
  display: flex;
  align-items: center;
  background-color: #0a141e;
  padding: 10px;
  border-radius: 16px;
}
.contactDomestic {
  display: flex;
  align-items: start;
  margin-left: -25px;
}
@media screen and (max-width: 768px) {
  .contactDomestic {
    margin-left: 0;
  }
  .contactCard {
    padding: 10px 0;
  }
  .contactCard,
  .contactDomestic li {
    font-size: 12px;
    color: #9ca3af;
  }
}
@media screen and (max-width: 767px) {
  .contactDomestic {
    margin-left: 0;
  }
  .contactCard {
    padding: 10px 0;
  }
  .contactCard,
  .contactDomestic li {
    font-size: 12px;
    color: #9ca3af;
  }
}
.iconDomestic {
  color: var(--primary-color);
  margin-right: 16px;
  font-size: 16px;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  background-color: var(--primary-color);
  color: white;
  padding: 0.75rem;
  border-radius: 50%;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactCard h4 {
  font-weight: 600;
}

.contactCard p {
  font-size: 14px;
  color: #9ca3af;
}
.contactCard,
.contactDomestic li {
  font-size: 14px;
  color: #9ca3af;
}

.contactDomestic li:hover {
  color: white;
}
.contactCard li:hover {
  color: white;
}

.bottom {
  border-top: 1px solid #374151;
  padding: 1.5rem 0;
  font-size: 14px;
  color: #9ca3af;
}

.bottom span {
  color: var(--primary-color);
}
@media screen and (max-width: 375px) {
  .contactCard {
    padding: 10px 0;
  }
    .contactCard,
  .contactDomestic li {
    font-size: 13px;
    color: #9ca3af;
  }
}
